
<html>
  <head>
    <title>Kółko i krzyżyk</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    
  <body>
      <table>
      <% for(i = 0; i < 9; i++) {%>
        <% if( i % 3 == 0 && i > 0) {%>
          </tr> <%}%>
        <% if( i % 3 == 0) {%>
          <tr> <% } %>
      <td><input type="image" src="tictac/empty.png" id=<%=i%> ></td> <%}%>
    </table>
  
    <script>
      var socket = io();
      
      $('input').click(function(){
        if( $(this).attr("src") == "tictac/empty.png"){
          socket.emit('FieldClicked', $(this).attr("id")  );
        }
      });
      
    

    </script>
  </body>
</html>
