
<html>
  <head>
    <title>Kółko i krzyżyk</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    
  <body>
    <center>
      
      <% include common/gameRoomHeader.ejs %>
      
      <div class = "containerRoom" class = "containerRoom" style="width:700px">
        
        <div class = "container" style="float:left; width:43%; ">

          <% include games/tictactoe.ejs %>

          <div >
            Teraz tura gracza: 
            <p id="p1" style="text-decoration:underline; width:90%; overflow:auto; text-overflow:ellpsis"></p>
            <p id="p2" style="width:90%; overflow:auto; text-overflow:ellpsis"></p>
            <button id="surr" class="button">Poddaj się</button>
          </div>
            
        </div>

        <% include common/chatBox.ejs %>
    
      </div>
    
    <center>

    <% include ../gameScript/tictactoe.html %>
  </body>
</html>
