<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>
            Chlewik
        </title>

        <script> 
            window.addEventListener('load', function() {  //bez tego się nie wykona i nie doda
                var form = document.getElementById('guestForm');
                var guestName = document.getElementById('name');
                var err = document.getElementById('err');
                
                form.onsubmit = function() {
                    //return false;

                    console.log("PRÓBUJE SUBMIT");

                    err.innerHTML = "";
                    
                    var valname = guestName.value.trim();
                    var flag = true;
                    if (valname == "")
                    {
                        err.innerHTML += "nick nie może być pusty";
                        flag = false;
                    }
                    
                    var req=new XMLHttpRequest();
                    var params = "name="+valname;
                    //JAK POST TO PARAMS BEZ PYTAJNIKA NA POCZĄTKU
                    req.open('post', '/guest/ajaxIsFree', true); 
                    //ZMIENIONE NA POST
                    req.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    req.setRequestHeader("Content-length", params.length);
                    req.setRequestHeader("Connection", "close");

                    req.onreadystatechange = function() {
                        if (req.readyState == XMLHttpRequest.DONE) { //uwaga na wielkość liter
                            //nie wypisuje na konsolę bo to ejs... a on u klienta
                            if(req.responseText == "NO") {
                                if (!flag) err.innerHTML += "<br>";
                                err.innerHTML += "zajęty nick";
                            }
                            else if(flag == true && req.responseText == "OK") {
                                //err.innerHTML += "coś jest nie tak" //już ok
                                if(guestName.value.trim()==valname) { form.submit();} //jeśli przez czas asynchr. nic nie zmienił
                            }
                            
                        }
                    };
                    req.send(params); //tu, jak post
                    
                    
                    return false; //zastopuj póki nie przyjdzie asynchroniczna odpowiedź

                    
                };
            }); //brak nawiasu ) i kosmos się psułi żadnego błędu nie dał

            </script>

        </head>


    <body>
    <center>
         <a href="/">
            <img src="placeholderLogo.png" alt="Logo" height=150px width=300px > 
        </a> 
        <br>
            <div class="container" style="width:200px; max-width:300px; ">
                Podaj nick tymczasowy
                <form method="POST" id="guestForm" action="/guest/enter" > <!-- onsubmit="alert('stop submit'); return false;" pełny adres -->
                    <input type='text' id="name" name='name'><br> <br>
                    <p id='err' style="color:orange"> </p>
                    <button class='button' type='submit'>Wejdź</button> <!-- bez określenia class, albo z submit submituje formularz - w form action do jakiej strony -->
                </form>

            </div>
    </center>
    </body>
</html>


