<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <title>
        Chlewik
    </title>

    <body>
    <center>
        <a href="/">
        <img src="placeholderLogo.png" alt="Logo" height=100px width=300px ><br> 
        </a>
            <div style="max-width:300px; height: 100px; border: 5px double grey; padding: 30px; background: white;  border-radius: 15px 15px 5px;">
                Podaj nick
                <form method="POST">
                    <input type='text' name='nick'><br> 
                    <button class='button'>Wejdź</button>
                </form>

            </div>
    </center>
    </body>
</html>


