<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <title>
        Chlewik
    </title>

    <body>
    <center>
        <a href="/">
        <img src="placeholderLogo.png" alt="Logo" height=100px width=300px ><br> 
        </a>
            <div class="container" style="max-width:300px; height: 120px; ">
                Podaj nick
                <form method="POST" action="/guest/enter"> <!-- pełny adres -->
                    <input type='text' name='nick'><br> <br>
                    <button class='button' tpy='submit'>Wejdź</button> <!-- bez określenia class, albo z submit submituje formularz - w form action do jakiej strony -->
                </form>

            </div>
    </center>
    </body>
</html>


