<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <title>
        Chlewik
    </title>

    <body>
    <center>

        <img src="placeholderLogo.png" alt="Logo" height=100px width=300px >
        <br> 

           <div style="max-width:300px;max-height: 200px; border: 5px double grey; padding: 30px; background: white;  border-radius: 15px 15px 5px;">

                <button class="button disabled" style="float:right width=100%;">Rejestracja</button>
                <button class="button disabled" style="float:right; width=100%;">Logowanie</button>
                <br><br> 
                <button class="button disabled" style="float:right width=100%;" >Wejdź jako gość</button>
       
        </div>
    <center>
    </body>
</html>


