<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    
        <title>
            Chlewik
        </title>

        <script> 
        window.addEventListener('load', function() {  //bez tego się nie wykona i nie doda
            var form = document.getElementById('enterForm');
            var pwd = document.getElementById('pwd');
            var userName = document.getElementById('name');
            var err = document.getElementById('err');
            
            form.onsubmit = function() {
                //return false;
                err.innerHTML = "";
                
                var valpwd = pwd.value.trim();
                var valname = userName.value.trim();


                
                var req=new XMLHttpRequest();
                var params = "?name="+valname+"&pwd="+valpwd;
                req.open('get', '/user/ajaxValid'+params, true);
                
                req.onreadystatechange = function() {
                    if (req.readyState == XMLHttpRequest.DONE) { //uwaga na wielkość liter
                        if(req.responseText == "NOONE") {
                            err.innerHTML = "niepoprawny login"
                            
                        }
                        else if(req.responseText == "BAD") {
                            err.innerHTML = "niepoprawne hasło"
                            
                        }
                        else if(req.responseText == "OK") {
                            //err.innerHTML += "coś jest nie tak" //już ok
                            if(pwd.value.trim() == valpwd  && userName.value.trim()==valname) form.submit(); //jeśli przez czas asynchr. nic nie zmienił
                        }
                    }
                };
                req.send();
                
                
                return false; //zastopuj póki nie przyjdzie asynchroniczna odpowiedź

                
            };
        }); //brak nawiasu ) i kosmos się psułi żadnego błędu nie dał

        </script>

    </head>

    <body>
    <center>
        <a href="/">
        <img src="placeholderLogo.png" alt="Logo" height=100px width=300px >
        </a>
        <br> 

        <div class="container" style="width:400px; "> <!-- bez wys., bo się błędy mają móc rozwinąć; miałem w tamtych wysokości po procentach, no ale biorą z całego okna jak odgórne nie ma-->

                <form action="/register" style="float:right; width:35%; ">
                    <button type="submit" class="button" >Rejestracja</button>
                </form>
                <form method="POST" id="enterForm" action="/user/enter" style="float:left; width:60%; " > <!-- pełny adres -->
                    Login <br> <input type='text' id="name" name='name' style="float:left ; width:100%"><br> <br>
                    <!--<text style="float:left">--> Hasło <br> <input type='password' id="pwd" name='pwd' style="float:left; width:100%"><br> 
                    <p id='err' style="color:orange"> </p>
                    <button type='submit' class="button" >Zaloguj</button> <!-- bez określenia class, albo z submit submituje formularz - w form action do jakiej strony -->
                </form>
                <br><br> 
                <form action="/guest" style="float:right; width:35%; ">
                <button type="submit" class="button" >Wejdź jako gość</button>
                </form>
        </div>
    </center>
    </body>
</html>


