<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <title>
        Chlewik
    </title>

    <body>
    <center>

        <img src="placeholderLogo.png" alt="Logo" height=100px width=300px >
        <br> 

           <div style="max-width:300px;height: 100px; border: 5px double grey; padding: 30px; background: white;  border-radius: 15px 15px 5px;">

                <form action="/register">
                <button class="button disabled" style="float:right width=100%;">Rejestracja</button>
                </form>
                <form action="/login">
                <button class="button disabled" style="float:right; width=100%;">Logowanie</button>
                </form>
                <br><br> 
                <form action="/guest">
                <button class="button disabled" style="float:right width=100%;" >Wejdź jako gość</button>
                </form>
        </div>
    </center>
    </body>
</html>


