<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">

        <title>
            pokój <%= room.name %>
        </title>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/appjs.js"></script>
        
        <script>
            
            window.addEventListener('load', function(){
                var p = document.getElementById('pisz');
                //p.innerHTML =  "hej" ;
                
                var socket = io();
                /*var obj = {
                    session : ses , 
                    roomname : room.name
                };*/
                socket.emit('getIn', p.innerHTML); //no gratuluję im genialnego narzędzia  że w script to już się nie da dostać zmiennych https://github.com/RandomEtc/ejs-locals/issues/12

                socket.on('sbd entered', function(whatRoom) { //dbam wcześniej żeby nie undef
                    var p = document.getElementById('pisz');
                    p.innerHTML = whatRoom ; // TU LEPIEJ ZMIENIĆ, ŻEBY BYŁA JAKAŚ FUNKCJA ODŚWIEŻ STAN CAŁEGO POKOJU I GRY POTEM
                });
                
            });

        </script> 
        

    </head>
    

    <body>
    <center>
        Witaj w zagrodzie <%= room.name %> <br>
        <p id="pisz"><%=room.name%></p> <!-- nie może być spacji jak patrzę na innerHTML ; zrobić lepiej osobny niewidoczny-->
        <form id='go' method="POST" action="/rooms" > <!-- ZROBIĆ TO INACZEJ BO DALEJ WIDZI STARY STAN POKOI --> 
            <button class="button" style="float:right" name='logout'>Wyjdź z pokoju</button>   <!-- przez opuszczenie strony socket się rozłączy i będzie co trzeba -->
        </form>
    </center>

    </body>
</html>

