<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">

        <title>
            zagroda <%= room.name %>
        </title>

    </head>
    

    <body>
    <center>
        Witaj w zagrodzie <%= room.name %>

    </center>
    </body>
</html>

