<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">

        <title>
            pokój <%= room.name %>
        </title>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/appjs.js"></script> <!--to generuje żądanie  do serwera takie normalne, bo czemu nie...- i moje przekierowanie go przekierowuje, ale jakoś działa  -->
        
        <script>
            
            window.addEventListener('load', function(){
                var p = document.getElementById('pisz');
                //p.innerHTML =  "hej" ;
                
                var socket = io();
                /*var obj = {
                    session : ses , 
                    roomname : room.name
                };*/
                socket.emit('getInRoom'); //no gratuluję im genialnego narzędzia  że w script to już się nie da dostać zmiennych https://github.com/RandomEtc/ejs-locals/issues/12

                socket.on('sbd entered', function(howManyAre) { //dbam wcześniej żeby nie undef
                    var p = document.getElementById('pisz');
                    p.innerHTML = "liczba aktualnie połączonych ludzi w pokoju:"+ howManyAre ; // TU LEPIEJ ZMIENIĆ, ŻEBY BYŁA JAKAŚ FUNKCJA ODŚWIEŻ STAN CAŁEGO POKOJU I GRY POTEM
                });

                var btReady = document.getElementById('ready');
                btReady.addEventListener('click', function() {

                    socket.emit('ready');
                });

                socket.on('begin game', function() {



                    // TU IM DODAWAĆ NA SERWERZE INGAME DO LEGIT W SESJI - bez tego się źle przekierowuje



                    window.location = "/rooms/room/createGame";
                });
                
            });

        </script> 
        

    </head>
    

    <body>
    <center>
        Witaj w pokoju <%= room.name %> <br>
        Gra rozpoczyna się automatycznie, gdy wszyscy są gotowi <br>
        <p id="pisz"><%=room.name%></p> <!-- nie może być spacji jak patrzę na innerHTML ; zrobić lepiej osobny niewidoczny-->
        <button class="button" id="ready">Potwierdź gotowość do gry</button>   <!-- przez opuszczenie strony socket się rozłączy i będzie co trzeba -->
        
        <form id='go' method="POST" action="/rooms/leave" > <!-- ZROBIĆ TO INACZEJ BO DALEJ WIDZI STARY STAN POKOI --> 
            <button class="button" style="float:right" name='logout'>Wyjdź z pokoju</button>   <!-- przez opuszczenie strony socket się rozłączy i będzie co trzeba -->
        </form>
    </center>

    </body>
</html>

