<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">

        <title>
            pokój <%= room.name %>
        </title>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/appjs.js"></script> 
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

        <script>
            
            window.addEventListener('load', function(){
                var p = document.getElementById('pisz');
                
                var socket = io();
                
                socket.emit('getInRoom'); 
                $('#chatForm').submit(function(){
                    socket.emit('chat message room', $('#chatMsg').val());
                    $('#chatMsg').val('');
                    return false;
                });
                socket.on('chat message', function(msg){
                    $('#chat').append(msg);
                    $('#chat').scrollTop($('#chat').prop("scrollHeight"));
                });
                socket.on('sbd entered', function(howManyAre) { 
                    var p = document.getElementById('pisz');
                    p.innerHTML = "Liczba aktualnie połączonych graczy w pokoju:"+ howManyAre ; 
                });
                var btReady = document.getElementById('ready');
                btReady.addEventListener('click', function() {
                    socket.emit('ready');
                });
                var btReady = document.getElementById('unready');
                btReady.addEventListener('click', function() {
                    socket.emit('unready');
                });
                socket.on('begin game', function() {
                    window.location = "/rooms/room/createGame";
                });
                socket.on('user_connected', function(msg){
                    $("#"+msg.id).text(msg.name);
                }) 
            });
        </script> 
    </head>

    <body>
    <center>
        <% include common/gameRoomHeader.ejs %>
        <div class = "container" style="width:700px">
            
        <h3 style="width:90%; overflow:auto;">Witaj w pokoju </h3><h2> <%= room.name %> <br> </h2>
        Gra rozpoczyna się automatycznie,<br>gdy wszyscy są gotowi <br>
        <h4 id="pisz" style="width:90%; overflow:auto;"><%=room.name%></h4> 
  
        </div>
    
    <br>
    <br>
    <div class = "containerRoom" class = "containerRoom" style="width:700px">
        <div class = "container" style="float:left; width:33%; ">
            <form id='go' method="POST" action="/rooms/room/leave" >
                <button class="button" name='logout'>Wyjdź z pokoju</button>  
            </form>
            <br>
            <br>
            <button class="button" id="ready">Gotów do gry</button>  
            <br>
            <br>
            <button class="button" id="unready">Niegotowy</button>  
        </div>
        
        <% include common/chatBox.ejs %>

    </div>
    </center>
    </body>

    

</html>

