<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <title>
        Chlewik
    </title>

    <body>
    <center>
        <a href="/">
        <!-- <a href="/">
            <img src="placeholderLogo.png" alt="Logo" height=150px width=300px > 
        </a> -->
        </a>
        <br> 

    </center>
    </body>
</html>

