<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <title>
        Chlewik
    </title>

    <body>
    <center>

        <img src="placeholderLogo.png" alt="Logo" height=100px width=300px >
        <br> 

    </center>
    </body>
</html>

