<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <title>
        Pokoje
    </title>

    <body>

        Zalogowano jako <%= nick %>

        <form method="POST">
            <button class="button" style="float:right; width=100%;" name='logout'>Wyloguj</button>
        </form>

    </body>
</html>
