<div id="chatBox" class = "namediv"  style="float: right; width:40%; ">
        
    <ul id="chat" style="text-align:left; margin:0; padding:10px; overflow: auto; height:350px; list-style-type: none;" >
        <% for(i = 0; i < 10; i++) {%>
        <%- chat[(i+chatLast)%10] %>
        <%}%>  
    </ul>
    <br>
    <form id="chatForm" style="bottom: 0; " method="">
        <input id="chatMsg" autocomplete="off" /><button>Wyślij</button>
    </form>
    
</div> 