

body {
    /*background-color: cornflowerblue*/
    background-image: url("backround.png")
}


.button {
    border-radius: 15px;
    background-color: mediumblue; /* Green */
    border: none;
    color: white;
    padding: 15px 32px; /*było 15 32*/ 
    text-align: center;
    text-decoration: none;
    outline: none;
    box-shadow: 0px 5px midnightblue;
    font-size: 16px;
}

.container {
    border: 5px double midnightblue; 
    padding: 15px; 
    background: royalblue;  
    border-radius: 15px 15px 15px 15px;
    display: inline-block; /*będzie się rozszerzał na dzieci swe*/
}

.namediv {
    border: 5px double midnightblue; 
    padding: 7px; 
    background: whitesmoke;  
    border-radius: 15px 15px 15px 15px;
    display: inline-block; /*będzie się rozszerzał na dzieci swe*/
}

.containerRoom {
    border: 5px double midnightblue; 
    padding: 15px; 
    background: steelblue;  /*albo cadetblue*/
    border-radius: 15px 15px 15px 15px;
    display: inline-block; /*będzie się rozszerzał na dzieci swe*/
}

.button:hover {
    background-color: midnightblue;
    cursor: pointer;
}

.button:active{
    transform: translateY(5px);
    box-shadow: 0 0;
}

input[type=text]{
    width: 75%;
    border: 3px solid #999  
}

input[type=text]:focus {
    border: 3px solid #555;
}

.guest {
    color: red;
}


.user {
    color: green;
}